name: publish-code-docs

on:
  workflow_run:
    workflows: [ "publish-release" ]
    types: [ completed ]
  workflow_dispatch:


jobs:
  deploy-code-documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - name: Create documentation
        run: |
          ./gradlew dokkaHtml
          git add -f dokka

      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@v4.6.1
        with:
          branch: gh-pages
          folder: dokka
          clean: false
